@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables.scss';
@import './fonts.scss';
@import './utils.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: calc(100vw / 1440 * 16);
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

a {
	text-decoration: none;
	font-family: inherit;
}

button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
	font-weight: 700;
	font-family: inherit;
	transition: all 0.3s ease;
}

li {
	list-style-type: none;
}

.navbar {
	@extend .jcsb;
	padding: max(2rem, 32px) var(--gutter) 0;
	position: relative;

	&-left {
		@extend .aic;
		gap: 3rem;
		& > a {
			height: 32px;
		}

		&-links {
			@extend .aic;
			gap: 1.5rem;
			li {
				@extend .font-15;
				font-weight: 700;
				a {
					color: var(--grey);
					transition: color 0.3s ease;
				}
				&:hover {
					a {
						color: var(--very-dark-blue);
					}
				}
			}
		}
	}

	&-right {
		@extend .aic;
		gap: 1.5rem;
		button {
			@extend .font-15;
			&.login {
				color: var(--grey);
				&:hover {
					color: var(--very-dark-blue);
				}
			}

			&.sign-up {
				@extend .cyan-btn;
				height: max(2.5rem, 38px);
				width: max(6.5rem, 98px);
				border-radius: max(20px, 1.25rem);
			}
		}
	}

	&-mobile {
		display: none;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		flex-direction: column;
		gap: 36px;
		position: fixed;
		width: 87%;
		top: 18rem;
		background: #3a3054;
		padding: 36px 24px;
		border-radius: 20px;
		transform: scale(0);
		ul {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			gap: 24px;
			li {
				font-size: 18px;
				a {
					color: var(--white);
				}
			}
		}
		.line {
			width: 100%;
			height: 0.7px;
			background: #9e9aa8;
		}
		footer {
			display: flex;
			flex-direction: column;
			gap: 24px;
			width: 100%;
			button {
				font-size: 18px;
				&.login {
					color: var(--white);
					&:hover {
						color: var(--very-dark-blue);
					}
				}

				&.sign-up {
					@extend .cyan-btn;
					height: 48px;
					width: 100%;
					border-radius: 30px;
				}
			}
		}
		&-toggle {
			display: none;
			span {
				width: 24px;
				height: 3px;
				background: #9e9aa8;
			}
		}
	}
	@media screen and (max-width: 600px) {
		&-left-links {
			display: none;
		}
		&-right {
			button {
				&.sign-up,
				&.login {
					display: none;
				}
			}
		}

		&-mobile {
			display: flex;
		}
		&-mobile-toggle {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}
	}
}

.hero {
	@extend .jcsb;
	padding: max(3rem, 48px) 0 max(3.5rem, 56px) var(--gutter);
	overflow: hidden;
	&-left {
		h1 {
			@extend .font-80;
			color: var(--very-dark-blue);
			font-weight: 700;
			line-height: 1.1;
			letter-spacing: -2px;
			text-shadow: 2px 3px 4px #00000040;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: black;
		}
		p {
			@extend .font-22;
			color: var(--grey);
			max-width: max(33.75rem, 327px);
			line-height: 1.5;
			letter-spacing: 0.12px;
			padding-top: max(1rem, 18px);
		}
		button {
			@extend .cyan-btn;
			@extend .font-20;
			width: max(12.3rem, 190px);
			height: max(3.5rem, 55px);
			border-radius: max(40px, 2rem);
			margin-top: max(2rem, 24px);
		}
	}
	&-right {
		img {
			height: max(30.125rem, 320px);
		}
	}
	@media screen and (max-width: 900px) {
		flex-direction: column-reverse;
		gap: 40px;
		padding-left: 0;
		&-left {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
	@media screen and (max-width: 600px) {
		&-right {
			margin-right: -24rem;
		}
	}
}

.link-container {
	margin: 0 var(--gutter);
	position: relative;
	form {
		background: var(--very-dark-violet);
		padding: max(2.5rem, 24px);
		border-radius: max(8px, 0.5rem);
		background-image: url(../images/bg-shorten-desktop.svg);
		background-repeat: no-repeat;
		background-position: right;
		background-size: cover;
		position: relative;
		@extend .aic;
		gap: max(1.5rem, 20px);
		input {
			@extend .font-20;
			color: var(--very-dark-blue);
			outline: none;
			height: max(4rem, 60px);
			letter-spacing: 0.15px;
			padding-left: max(1rem, 16px);
			border: 1px solid transparent;
			border-radius: max(4px, 0.25rem);
			font-family: inherit;
			transition: all 0.3s ease;
			width: 100%;
			&.error {
				border-color: #f46363;
				border-width: 3px;
				&::placeholder {
					color: #f46363;
				}
			}
		}
		button {
			@extend .cyan-btn;
			@extend .font-20;
			font-weight: 700;
			width: max(11.75rem, 180px);
			height: max(4rem, 60px);
			border-radius: max(4px, 0.25rem);
		}
		p {
			font-size: max(1rem, 14px);
			font-style: italic;
			font-weight: 500;
			color: #f46363;
			position: absolute;
			bottom: max(0.75rem, 12px);
			opacity: 0;
			transition: opacity 0.3s ease;
		}
	}

	&-links {
		margin-top: max(1rem, 16px);
		display: grid;
		gap: max(1rem, 16px);
		li {
			@extend .jcsb;
			flex-wrap: wrap;
			gap: max(1rem, 16px);
			background: var(--white);
			border-radius: max(8px, 0.5rem);
			padding: max(1rem, 16px);
			h4,
			a {
				@extend .font-20;
				color: var(--very-dark-blue);
				font-weight: 500;
				letter-spacing: 0.15px;
			}
			.copy {
				@extend .aic;
				gap: max(1rem, 16px);
				a {
					color: var(--cyan);
					transition: color 0.3s ease;
					&:hover {
						color: #3a3054;
					}
				}
				button {
					@extend .font-15;
					@extend .cyan-btn;
					border-radius: max(4px, 0.25rem);
					font-weight: 700;
					height: max(40px, 2.5rem);
					width: max(103px, 6.3rem);
				}
			}
		}
	}
	@media screen and (max-width: 680px) {
		&-links li {
			& > h4 {
				padding-left: 16px;
			}
			padding-left: 0;
			padding-right: 0;
			.line {
				height: 0.5px;
				width: 100%;
				background: var(--grey);
			}
			.copy {
				align-items: flex-start;
				flex-direction: column;
				padding: 0 16px;
				width: 100%;
				button {
					width: 100%;
				}
			}
		}
	}
	@media screen and (max-width: 600px) {
		form {
			flex-direction: column;
			p {
				top: 86px;
				left: 24px;
				bottom: unset;
			}
			button {
				width: 100%;
			}
		}
	}
}

.stats {
	background: var(--light-grey);
	padding: max(5rem, 80px) var(--gutter) max(15rem, 90px);
	margin-top: min(-75px, -4.6rem);
	header {
		@extend .center;
		flex-direction: column;
		text-align: center;
		margin-top: max(4rem, 64px);
		h2 {
			@extend .font-40;
			font-weight: 700;
			color: var(--very-dark-blue);
			letter-spacing: -1px;
		}
		p {
			@extend .font-18;
			color: var(--grey);
			font-weight: 500;
			line-height: 1.5;
			letter-spacing: 0.12px;
			max-width: max(33.75rem, 520px);
			padding-top: 0.5rem;
		}
	}

	&-info {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
		margin-top: max(4.5rem, 85px);
		li {
			background: var(--white);
			border-radius: 8px;
			padding: 0rem max(1.5rem, 24px) max(1.5rem, 24px);
			position: relative;
			div {
				@extend .center;
				height: max(5.5rem, 88px);
				width: max(5.5rem, 88px);
				border-radius: 50%;
				background: var(--very-dark-violet);
				position: relative;
				top: min(-2.5rem, -40px);
				z-index: 2;
				img {
					height: max(2.5rem, 40px);
				}
			}
			h4 {
				@extend .font-22;
				font-weight: 700;
				margin-top: min(-0.5rem, -12px);
				line-height: 1.1;
				color: var(--very-dark-blue);
			}
			p {
				@extend .font-15;
				color: var(--grey);
				max-width: max(17.875rem, 280px);
				padding-top: max(0.875rem, 14px);
			}
			&:nth-child(2) {
				top: 3rem;
				&::before {
					content: '';
					position: absolute;
					height: 8px;
					background: var(--cyan);
					width: 1.5rem;
					top: 7rem;
					left: -1.5rem;
				}
				&::after {
					content: '';
					position: absolute;
					height: 8px;
					background: var(--cyan);
					width: 1.5rem;
					top: 7rem;
					right: -1.5rem;
				}
			}
			&:last-child {
				top: 6rem;
			}
		}
		@media screen and (max-width: 600px) {
			grid-template-columns: 1fr;
			gap: 80px;
			li {
				text-align: center;
				div {
					left: 50%;
					transform: translate(-50%, 0);
				}
				p {
					max-width: unset;
				}
				&:nth-child(2) {
					&::before {
						width: 2rem;
						top: -92px;
						left: 50%;
						transform: translate(-50%, 0);
						height: 80px;
					}
					&::after {
						width: 2rem;
						top: unset;
						bottom: -80px;
						left: 50%;
						transform: translate(-50%, 0);
						height: 80px;
					}
				}
			}
		}
	}
}

.boost {
	@extend .center;
	background: var(--very-dark-violet);
	height: max(15.625rem, 300px);
	background-image: url(../images/bg-boost-desktop.svg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	div {
		@extend .aic;
		flex-direction: column;
		gap: max(1.5rem, 20px);
		h2 {
			@extend .font-40;
			font-weight: 700;
			color: var(--white);
			letter-spacing: -1px;
			text-align: center;
		}
		button {
			@extend .cyan-btn;
			@extend .font-20;
			height: max(3.5rem, 50px);
			width: max(12rem, 185px);
			border-radius: max(2.5rem, 40px);
		}
	}
}

.footer {
	padding: max(3.5rem, 56px) var(--gutter) max(2.5rem, 40px);
	background: #232127;

	&-main {
		display: flex;
		justify-content: space-between;
		gap: max(5rem, 15px);
		margin-bottom: max(4rem, 64px);

		&-right {
			display: flex;
			align-items: flex-start;
			gap: max(5rem, 15px);
		}

		&-links {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: max(5rem, 15px);
			ul {
				li {
					@extend .font-15;
					font-weight: 500;
					width: max-content;
					&:first-child {
						padding-bottom: 01rem;
						color: var(--white);
					}
					&:not(:first-child) {
						padding-top: 0.5rem;
					}
					a {
						color: #bfbfbf;
						transition: color 0.3s ease;
						letter-spacing: -0.23px;
					}
					&:hover {
						a {
							color: var(--cyan);
						}
					}
				}
			}
		}

		&-socials {
			@extend .aic;
			gap: max(0.875rem, 14px);
			a {
				svg {
					path {
						transition: all 0.3s ease;
					}
				}
				&:hover {
					svg {
						path {
							fill: var(--cyan);
						}
					}
				}
			}
		}

		@media screen and (max-width: 900px) {
			&-links {
				grid-template-columns: 1fr 1fr;
			}
		}
		@media screen and (max-width: 600px) {
			flex-direction: column;
			align-items: center;
			&-right {
				flex-direction: column;
				align-items: center;
			}
			&-links {
				grid-template-columns: 1fr;
				ul > li {
					width: 100%;
					text-align: center;
				}
			}
		}
	}

	.attribution {
		@extend .font-18;
		color: var(--white);
		text-align: center;

		a {
			color: #bfbfbf;
			transition: color 0.3s ease;
			letter-spacing: -0.23px;
			&:hover {
				color: var(--cyan);
			}
		}
	}
}
