@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --white: #ffffff;
  --cyan: #2bd0d0;
  --grey: #9e9aa8;
  --light-grey: #eff1f7;
  --dark-violet: #4b3f6b;
  --very-dark-violet: #3a3054;
  --very-dark-blue: #34313d;
  --gutter: max(7rem, 40px);
}

.font-15, .footer-main-links ul li, .stats-info li p, .navbar-right button, .navbar-left-links li {
  font-size: max(15px, 0.938rem);
}

.font-18, .footer .attribution, .stats header p {
  font-size: max(16px, 1.125rem);
}

.font-20, .boost div button, .link-container form button, .link-container form input, .hero-left button {
  font-size: max(16px, 1.25rem);
}

.font-22, .stats-info li h4, .hero-left p {
  font-size: max(18px, 1.375rem);
}

.font-40, .boost div h2, .stats header h2 {
  font-size: max(28px, 2.5rem);
}

.font-80, .hero-left h1 {
  font-size: max(42px, 5.5rem);
}

.center, .boost, .stats-info li div, .stats header, .cyan-btn, .boost div button, .link-container form button, .hero-left button, .navbar-right button.sign-up {
  align-items: center;
  display: flex;
  justify-content: center;
}

.aic, .footer-main-socials, .boost div, .link-container form, .navbar-right, .navbar-left-links, .navbar-left {
  display: flex;
  align-items: center;
}

.jcsb, .hero, .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cyan-btn, .boost div button, .link-container form button, .hero-left button, .navbar-right button.sign-up {
  color: var(--white);
  background: var(--cyan);
}
.cyan-btn:hover, .boost div button:hover, .link-container form button:hover, .hero-left button:hover, .navbar-right button.sign-up:hover {
  background: #9ae3e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.1111111111vw;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  font-family: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
  transition: all 0.3s ease;
}

li {
  list-style-type: none;
}

.navbar {
  padding: max(2rem, 32px) var(--gutter) 0;
}
.navbar-left {
  gap: 3rem;
}
.navbar-left > a {
  height: 32px;
}
.navbar-left-links {
  gap: 1.5rem;
}
.navbar-left-links li {
  font-weight: 700;
}
.navbar-left-links li a {
  color: var(--grey);
  transition: color 0.3s ease;
}
.navbar-left-links li:hover a {
  color: var(--very-dark-blue);
}
.navbar-right {
  gap: 1.5rem;
}
.navbar-right button.login {
  color: var(--grey);
}
.navbar-right button.login:hover {
  color: var(--very-dark-blue);
}
.navbar-right button.sign-up {
  height: max(2.5rem, 38px);
  width: max(6.5rem, 98px);
  border-radius: max(20px, 1.25rem);
}
@media screen and (max-width: 600px) {
  .navbar-left-links, .navbar-right {
    display: none;
  }
}

.hero {
  padding: max(3rem, 48px) 0 max(3.5rem, 56px) var(--gutter);
  overflow: hidden;
}
.hero-left h1 {
  color: var(--very-dark-blue);
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -2px;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2509803922);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.hero-left p {
  color: var(--grey);
  max-width: max(33.75rem, 327px);
  line-height: 1.5;
  letter-spacing: 0.12px;
  padding-top: max(1rem, 18px);
}
.hero-left button {
  width: max(12.3rem, 190px);
  height: max(3.5rem, 55px);
  border-radius: max(40px, 2rem);
  margin-top: max(2rem, 24px);
}
.hero-right img {
  height: max(30.125rem, 320px);
}
@media screen and (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    gap: 40px;
    padding-left: 0;
  }
  .hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .hero-right {
    margin-right: -24rem;
  }
}

.link-container {
  margin: 0 var(--gutter);
  background: var(--very-dark-violet);
  padding: 2.5rem;
  border-radius: max(8px, 0.5rem);
  background-image: url(../images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative;
}
.link-container form {
  gap: max(1.5rem, 20px);
}
.link-container form input {
  color: var(--very-dark-blue);
  outline: none;
  height: max(4rem, 60px);
  letter-spacing: 0.15px;
  padding-left: max(1rem, 16px);
  border: none;
  border-radius: max(4px, 0.25rem);
  font-family: inherit;
  width: 100%;
}
.link-container form button {
  font-weight: 700;
  width: max(11.75rem, 180px);
  height: max(4rem, 60px);
  border-radius: max(4px, 0.25rem);
}
@media screen and (max-width: 600px) {
  .link-container form {
    flex-direction: column;
  }
  .link-container form button {
    width: 100%;
  }
}

.stats {
  background: var(--light-grey);
  padding: max(10rem, 155px) var(--gutter) max(15rem, 90px);
  margin-top: -70px;
}
.stats header {
  flex-direction: column;
  text-align: center;
}
.stats header h2 {
  font-weight: 700;
  color: var(--very-dark-blue);
  letter-spacing: -1px;
}
.stats header p {
  color: var(--grey);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.12px;
  max-width: max(33.75rem, 520px);
  padding-top: 0.5rem;
}
.stats-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: max(4.5rem, 85px);
}
.stats-info li {
  background: var(--white);
  border-radius: 8px;
  padding: 0rem max(1.5rem, 24px) max(1.5rem, 24px);
  position: relative;
}
.stats-info li div {
  height: max(5.5rem, 88px);
  width: max(5.5rem, 88px);
  border-radius: 50%;
  background: var(--very-dark-violet);
  position: relative;
  top: min(-2.5rem, -40px);
  z-index: 2;
}
.stats-info li div img {
  height: max(2.5rem, 40px);
}
.stats-info li h4 {
  font-weight: 700;
  margin-top: min(-0.5rem, -12px);
  line-height: 1.1;
  color: var(--very-dark-blue);
}
.stats-info li p {
  color: var(--grey);
  max-width: max(17.875rem, 280px);
  padding-top: max(0.875rem, 14px);
}
.stats-info li:nth-child(2) {
  top: 3rem;
}
.stats-info li:nth-child(2)::before {
  content: "";
  position: absolute;
  height: 8px;
  background: var(--cyan);
  width: 1.5rem;
  top: 7rem;
  left: -1.5rem;
}
.stats-info li:nth-child(2)::after {
  content: "";
  position: absolute;
  height: 8px;
  background: var(--cyan);
  width: 1.5rem;
  top: 7rem;
  right: -1.5rem;
}
.stats-info li:last-child {
  top: 6rem;
}
@media screen and (max-width: 600px) {
  .stats-info {
    grid-template-columns: 1fr;
    gap: 80px;
  }
  .stats-info li {
    text-align: center;
  }
  .stats-info li div {
    left: 50%;
    transform: translate(-50%, 0);
  }
  .stats-info li p {
    max-width: unset;
  }
  .stats-info li:nth-child(2)::before {
    width: 2rem;
    top: -92px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 80px;
  }
  .stats-info li:nth-child(2)::after {
    width: 2rem;
    top: unset;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 80px;
  }
}

.boost {
  background: var(--very-dark-violet);
  height: max(15.625rem, 300px);
  background-image: url(../images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.boost div {
  flex-direction: column;
  gap: max(1.5rem, 20px);
}
.boost div h2 {
  font-weight: 700;
  color: var(--white);
  letter-spacing: -1px;
  text-align: center;
}
.boost div button {
  height: max(3.5rem, 50px);
  width: max(12rem, 185px);
  border-radius: max(2.5rem, 40px);
}

.footer {
  padding: max(3.5rem, 56px) var(--gutter) max(2.5rem, 40px);
  background: #232127;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  gap: max(5rem, 15px);
  margin-bottom: max(4rem, 64px);
}
.footer-main-right {
  display: flex;
  align-items: flex-start;
  gap: max(5rem, 15px);
}
.footer-main-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: max(5rem, 15px);
}
.footer-main-links ul li {
  font-weight: 500;
  width: -moz-max-content;
  width: max-content;
}
.footer-main-links ul li:first-child {
  padding-bottom: 1rem;
  color: var(--white);
}
.footer-main-links ul li:not(:first-child) {
  padding-top: 0.5rem;
}
.footer-main-links ul li a {
  color: #bfbfbf;
  transition: color 0.3s ease;
  letter-spacing: -0.23px;
}
.footer-main-links ul li:hover a {
  color: var(--cyan);
}
.footer-main-socials {
  gap: max(0.875rem, 14px);
}
.footer-main-socials a svg path {
  transition: all 0.3s ease;
}
.footer-main-socials a:hover svg path {
  fill: var(--cyan);
}
@media screen and (max-width: 900px) {
  .footer-main-links {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .footer-main {
    flex-direction: column;
    align-items: center;
  }
  .footer-main-right {
    flex-direction: column;
    align-items: center;
  }
  .footer-main-links {
    grid-template-columns: 1fr;
  }
  .footer-main-links ul > li {
    width: 100%;
    text-align: center;
  }
}
.footer .attribution {
  color: var(--white);
  text-align: center;
}
.footer .attribution a {
  color: #bfbfbf;
  transition: color 0.3s ease;
  letter-spacing: -0.23px;
}
.footer .attribution a:hover {
  color: var(--cyan);
}/*# sourceMappingURL=app.css.map */