@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --white: #ffffff;
  --cyan: #2bd0d0;
  --grey: #9e9aa8;
  --light-grey: #eff1f7;
  --dark-violet: #4b3f6b;
  --very-dark-violet: #3a3054;
  --very-dark-blue: #34313d;
  --gutter: 7rem;
}

.font-15, .stats-info li p, .navbar-right button, .navbar-left-links li {
  font-size: max(15px, 0.875rem);
}

.font-18, .stats header p {
  font-size: max(18px, 1.125rem);
}

.font-20, .link-container form button, .link-container form input, .hero-left button {
  font-size: max(20px, 1.175rem);
}

.font-22, .stats-info li h4, .hero-left p {
  font-size: max(22px, 1.285rem);
}

.font-40, .boost div h2, .stats header h2 {
  font-size: max(40px, 1.875rem);
}

.font-80, .hero-left h1 {
  font-size: max(80px, 4.375rem);
}

.center, .boost, .stats-info li div, .stats header, .cyan-btn, .boost div button, .link-container form button, .hero-left button, .navbar-right button.sign-up {
  align-items: center;
  display: flex;
  justify-content: center;
}

.aic, .boost div, .link-container form, .navbar-right, .navbar-left-links, .navbar-left {
  display: flex;
  align-items: center;
}

.jcsb, .hero, .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cyan-btn, .boost div button, .link-container form button, .hero-left button, .navbar-right button.sign-up {
  color: var(--white);
  background: var(--cyan);
}
.cyan-btn:hover, .boost div button:hover, .link-container form button:hover, .hero-left button:hover, .navbar-right button.sign-up:hover {
  background: #9ae3e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.1111111111vw;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  font-family: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
  transition: all 0.3s ease;
}

li {
  list-style-type: none;
}

.navbar {
  padding: 2rem var(--gutter) 0;
}
.navbar-left {
  gap: 3rem;
}
.navbar-left > a {
  height: 32px;
}
.navbar-left-links {
  gap: 1.5rem;
}
.navbar-left-links li {
  font-weight: 700;
}
.navbar-left-links li a {
  color: var(--grey);
  transition: color 0.3s ease;
}
.navbar-left-links li:hover a {
  color: var(--very-dark-blue);
}
.navbar-right {
  gap: 1.5rem;
}
.navbar-right button.login {
  color: var(--grey);
}
.navbar-right button.login:hover {
  color: var(--very-dark-blue);
}
.navbar-right button.sign-up {
  height: 2.5rem;
  width: 6.5rem;
  border-radius: 1.25rem;
}

.hero {
  padding: 3rem 0 3.5rem var(--gutter);
  overflow: hidden;
}
.hero-left h1 {
  color: var(--very-dark-blue);
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -2px;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2509803922);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.hero-left p {
  color: var(--grey);
  max-width: max(540px, 33rem);
  line-height: 1.5;
  letter-spacing: 0.12px;
}
.hero-left button {
  width: 12.3rem;
  height: 3.5rem;
  border-radius: 2.5rem;
  margin-top: 2rem;
}
.hero-right {
  margin-right: -8.5rem;
}
.hero-right img {
  height: 30.125rem;
}

.link-container {
  margin: 0 var(--gutter);
  background: var(--very-dark-violet);
  padding: 2.5rem;
  border-radius: 8px;
  background-image: url(../images/bg-shorten-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative;
}
.link-container form {
  gap: 1.5rem;
}
.link-container form input {
  color: var(--very-dark-blue);
  outline: none;
  height: 4rem;
  letter-spacing: 0.15px;
  padding-left: 1rem;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  width: 100%;
}
.link-container form button {
  font-weight: 700;
  width: 11.75rem;
  height: 4rem;
  border-radius: 4px;
}

.stats {
  background: var(--light-grey);
  padding: 10rem var(--gutter) 10.5rem;
  margin-top: -4.25rem;
}
.stats header {
  flex-direction: column;
  text-align: center;
}
.stats header h2 {
  font-weight: 700;
  color: var(--very-dark-blue);
  letter-spacing: -1px;
}
.stats header p {
  color: var(--grey);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.12px;
  max-width: 33.75rem;
  padding-top: 0.5rem;
}
.stats-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 4.5rem;
}
.stats-info li {
  background: var(--white);
  border-radius: 8px;
  padding: 0rem 1.5rem 1.5rem;
  position: relative;
}
.stats-info li div {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  background: var(--very-dark-violet);
  position: relative;
  top: -2.5rem;
}
.stats-info li div img {
  height: 2.5rem;
}
.stats-info li h4 {
  font-weight: 700;
  margin-top: -0.5rem;
  color: var(--very-dark-blue);
}
.stats-info li p {
  color: var(--grey);
  max-width: 17.875rem;
  padding-top: 0.875rem;
}
.stats-info li:nth-child(2) {
  top: 3rem;
}
.stats-info li:nth-child(2)::before {
  content: "";
  position: absolute;
  height: 8px;
  background: var(--cyan);
  width: 1.5rem;
  top: 7rem;
  left: -1.5rem;
}
.stats-info li:nth-child(2)::after {
  content: "";
  position: absolute;
  height: 8px;
  background: var(--cyan);
  width: 1.5rem;
  top: 7rem;
  right: -1.5rem;
}
.stats-info li:last-child {
  top: 6rem;
}

.boost {
  background: var(--very-dark-violet);
  height: 15.625rem;
  background-image: url(../images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.boost div {
  flex-direction: column;
  gap: 1.5rem;
}
.boost div h2 {
  font-weight: 700;
  color: var(--white);
  letter-spacing: -1px;
}
.boost div button {
  height: 3.5rem;
  width: 12rem;
  border-radius: 2.5rem;
}

.footer {
  padding: 3.5rem var(--gutter);
  background: #232127;
}/*# sourceMappingURL=app.css.map */