.font-15 {
	font-size: max(15px, 0.875rem);
}

.font-18 {
	font-size: max(18px, 1.125rem);
}

.font-20 {
	font-size: max(20px, 1.175rem);
}

.font-22 {
	font-size: max(22px, 1.285rem);
}

.font-40 {
	font-size: max(40px, 1.875rem);
}

.font-80 {
	font-size: max(80px, 4.375rem);
}
